.hero-details {
    display: inline-block;
    border-radius: 4px;
    padding: 1em 1em 1em 1em;
    margin: 1em 0em;
    background-color: #CFD8DC;
    height: 8em;
    width: 18em;
}

button {
    margin: .5em .5em .5em 0em;
}
